#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
Debug/
Debug Server/
Release/
GPE/Media/Debug/
GPE/Media/DeferredShadingMedia/
GPE/Media/fonts/
GPE/Media/materials/
GPE/Media/models/
GPE/Media/packs/
GPE/Media/particle/
GPE/Media/PCZAppMedia/
GPE/Media/RTShaderLib/
GPE/Media/thumbnails/
GPE/Media/CMakeLists.txt
GPE/Media/terrain.cfg
New Folder/
[Bb]in
Ankh.NoLoad